<%- include('partials/header'); -%>
<form action="/" method="post">
<input type="text" placeholder="city name" name="city">
<input type="text" placeholder="state name" name="state">
<button type="submit">SUBMIT</button>
</form>
<%- include('partials/footer'); -%>